// Bootstrap
@import 'bootstrap/bootstrap';

// Base Styles
@import 'slices/base.less';


@braon:#4b1204;
@zlatna:#cca981;
@nav:#cca981;
@nav-hover:#c31e2e;

.borderTop{
	border-top:1px solid @zlatna;
}

.borderBottom{
	border-bottom:1px solid @zlatna;

}
.marginTop{
	margin-top: 5px;
}
h1,h3{
	text-align: left;
}

p{
   color: @braon;
}

ul{
	color: @braon;
}

/*HEADER*/


.header{
	height: 100px;
}

.menu li a{

	font-size: 15px;
	font-weight:bold;

}

.menu ul:last-child{
	margin-right: 0;
}

.menu li{
	text-decoration: underline;
}

.navbar-brand{
	width: 200px;
	height: 100px;
	background-image: url(../images/Logo-1.png);
	background-repeat: no-repeat;
 }

.dugme{
	background-color: darkred;
}



/*HERO*/



.hero_cont{
	border-bottom:1px solid @zlatna;
}

.slideshoow{
	margin-bottom: 50px;
}

/*o_nama*/

.o_nama{
	
	.borderTop;
	.borderBottom;
	.marginTop;
}

.naslovi{
	margin: 0;
}


.gl-naslov {
	padding: 0;
	margin: 0;
}
.naslov{ 
	position: relative;
	height: 100%;
	
}

.naslov h3,{
	text-align: center;
	margin-top: 210px;
	font-weight: bold;
}

.naslov p{
	margin-top: 30px;
	text-align: center;
	border-top: 1px solid @zlatna;
	margin-bottom: 50px;
	padding-top: 50px;
}

#o_kompaniji{
	background-image: url(../images/o_kompaniji.png);
	background-repeat: no-repeat;
	background-position:center 100px;
}
#bali_proizvodi{
	background-image: url(../images/bali_proizvodi.png);
	background-repeat: no-repeat;
	background-position:center 100px;
}

#namestaj_srbija{
	background-image: url(../images/namestaj_srbija.png);
	background-repeat: no-repeat;
	background-position:center 100px;
}





/*NOVI PROIZVODI*/

.ponuda{
	
	.borderTop;
	.borderBottom;
	.marginTop;
}

.ponuda h1{
	margin-top: 50px;
	margin-bottom: 50px;
}
.novi_proizvodi{
	height: 270px;
	margin-bottom: 50px;
}

.slika1{
	background-image: url(../images/u_ponudi1.png);
	background-repeat: no-repeat;
}

.slika2{
	background-image: url(../images/u_ponudi2.png);
	background-repeat: no-repeat;
}

.slika3{
	background-image: url(../images/u_ponudi3.png);
	background-repeat: no-repeat;
}

.slika4{
	background-image: url(../images/u_ponudi4.png);
	background-repeat: no-repeat;
}
/*info*/

.info{
	
	margin-top: 5px;
	margin-bottom: 5px;
	.borderTop;
	.borderBottom;
}

.najprodavanije h3,.kontakt h3{
	margin-top: 50px;
	margin-bottom: 50px;
}

.slike{
	margin-bottom: 30px;
	height: 100px;
	background-repeat: no-repeat;
	background-size: 100px;
}
.kontakt h3{
	margin-left: -16px;
}

.office,.mobilni,.adresa{
	margin-bottom: 48px;
	
}

.opis ul{

	list-style: none;
}

.najprodavanije1{
	background-image: url(../images/najprodavanije1.png);
}   
.najprodavanije2{
	background-image: url(../images/najprodavanije2.png);
}
.najprodavanije3{
	background-image: url(../images/najprodavanije3.png);
}
.najprodavanije4{
	background-image: url(../images/najprodavanije4.png);
}
.najprodavanije5{
	background-image: url(../images/najprodavanije5.png);
}
.najprodavanije6{
	background-image: url(../images/najprodavanije6.png);
}
.najprodavanije7{
	background-image: url(../images/najprodavanije7.png);
}
.najprodavanije8{
	background-image: url(../images/najprodavanije8.png);
}
.najprodavanije9{
	background-image: url(../images/najprodavanije9.png);
}

.opis_slika{
	height: 121px;
	background-repeat: no-repeat; 
}


.kancelarija{
	background-image: url(../images/office.png);
	background-repeat: no-repeat; 	
}

.mob{
	background-image: url(../images/mobilni.png);
}

.map{
	background-image: url(../images/mapa.png);
}

/*footer*/

.footer{
	.borderTop;
	
}


