// Bootstrap
@import 'bootstrap/bootstrap';

// Base Styles
@import 'slices/base.less';

body{
	padding: 0;
	margin: 0;
}

// div{
// 	border: 1px solid black;
// }

@braon:#4b1204;
@zlatna:#cca981;
@nav:#cca981;
@nav-hover:#c31e2e;

.borderTop{
	border-top:1px solid @zlatna;
}

.borderBottom{
	border-bottom:1px solid @zlatna;

}
h1,h3{
	text-align: left;


}

p{

	color: @braon;
}

ul{
	color: @braon;
}

/*HEADER*/

 .header{
	height: 160px;
 }
 .logo{
   height: 160px;
   background-image: url(../images/IsolaDiBali_logo-01.png);
   background-size:520px 330px;
   background-repeat: no-repeat;
   background-position: -119px -85px;
   cursor: pointer;
   

}
.menu{
	
	height: 160px;
	padding: 0;
	

}
.menu ul{
	color:@nav;
    text-align: right;
    margin-top: 30px;
    float: right;
	font-size: 15px;
	
}


.menu ul li{

	font-family: sans-serif;
    margin-right: 20px;
    text-decoration: underline;
	display: inline;
}

.menu ul li:last-child{
  margin-right: 0;
}
.menu ul li:hover{
	color: @nav-hover;
	cursor:pointer;
}




/*HERO*/

.hero{
	
	height: 600px;
	background-image: url(../images/Isola-di-Bali-hero.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 100px;

}

.hero_cont{
	border-bottom:1px solid @zlatna;

}

/*end of HERO*/


/*o_nama*/

.o_nama{
	.borderTop;
	.borderBottom;
	height: 600px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.o_nama h1{
	text-align: left;
   
}

.features{
	height: 80%;

}
#o_kompaniji{
	background-image: url(../images/o_kompaniji.png);
	background-repeat: no-repeat;
	background-size: cover;
}

#bali_proizvodi{
	background-image: url(../images/bali_proizvodi.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#namestaj_srbija{
	background-image: url(../images/namestaj_srbija.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.top{
	border-bottom: 2px solid @zlatna;
}

.top,.text{
	height: 50%;
	text-align: center;
}

.text{
	margin-top: 20px;
}


.okruglo{
	margin-top: 50px;
	margin-left: 140px;
	width: 90px;
	height: 90px;
	border-radius: 45px;
	border: none;
}

/*end of O_NAMA*/

/*NOVI PROIZVODI*/

.ponuda{
	height: 500px;
	.borderTop;
	.borderBottom;

}

.ponuda h1{
	margin-top: 50px;
	margin-bottom: 50px;

}

.novi_proizvodi{
	height: 270px;
}

.slika1{
	background-image: url(../images/u_ponudi1.png);
	background-repeat: no-repeat;
	
}

.slika2{
	background-image: url(../images/u_ponudi2.png);
	background-repeat: no-repeat;
	
}

.slika3{
	background-image: url(../images/u_ponudi3.png);
	background-repeat: no-repeat;

	
}

.slika4{
	background-image: url(../images/u_ponudi4.png);
	background-repeat: no-repeat;
	
}




/*utisci kupaca*/

.utisci{
	margin-top: 5px;
	.borderTop;
	.borderBottom;
	padding-bottom: 50px;
}

.kupac{
	background-image: url(../images/kupac.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;

}

.utisci h1{
	margin-top: 50px;
	margin-bottom: 50px;
}
.napred,.nazad{
	width: 20px;
	height: 20px;
	float: right;
    margin: 5px;
    border:1px solid black;
    cursor: pointer;
}

.napred{
	background-image: url(../images/desno.png);
	background-size: cover;
}
.nazad{
	background-image: url(../images/levo.png);
    background-size: cover;	
}

.kupci{
	height: 180px;
	border: 1px solid black;
	border-left: none;
}

.utisak p{
	margin-right: 70px;
	margin-left: 40px;
	margin-top: 40px;
	margin-bottom: 30px;
}

 


/*end of utisci*/


/*info*/

.info{
	height: 600px;
	margin-top: 5px;
	margin-bottom: 5px;
	.borderTop;
	.borderBottom;
}

.najprodavanije h3{
	margin-left: -20px;
}
.kontakt h3{
	margin-left: 300px;
}

.najprodavanije,.kontakt{
	height: 100%;
}

.najprodavanije h3,.kontakt h3{
	margin-top: 50px;
	margin-bottom: 50px;
}

.slike{
	margin-bottom: 30px;
	height: 100px;
	background-repeat: no-repeat;
	background-size: 100px;
}


.office,.mobilni,.adresa{
	margin-bottom: 48px;
	margin-left: 200px;
}

.opis ul{

	list-style: none;
}

.najprodavanije1{
	background-image: url(../images/najprodavanije1.png);
}   
.najprodavanije2{
	background-image: url(../images/najprodavanije2.png);
}
.najprodavanije3{
	background-image: url(../images/najprodavanije3.png);
}
.najprodavanije4{
	background-image: url(../images/najprodavanije4.png);
}
.najprodavanije5{
	background-image: url(../images/najprodavanije5.png);
}
.najprodavanije6{
	background-image: url(../images/najprodavanije6.png);
}
.najprodavanije7{
	background-image: url(../images/najprodavanije7.png);
}
.najprodavanije8{
	background-image: url(../images/najprodavanije8.png);
}
.najprodavanije9{
	background-image: url(../images/najprodavanije9.png);
}

 .opis_slika{
	height: 121px;
 	background-repeat: no-repeat; 

}


.kancelarija{
	background-image: url(../images/office.png);
	background-repeat: no-repeat; 
	
}

.mob{
	background-image: url(../images/mobilni.png);
}

.map{
	background-image: url(../images/mapa.png);
}



/*footer*/

.footer{
.borderTop;
height: 200px;

}


